
 .err{
    color: #721c24;
    background: #f8d7da;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #f5c6cb;
    display: none;
} 
.suss{
  color: rgb(3, 129, 68);
  background: #b2efb1;
  padding: 8px 10px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid #00ff62;
  display: none;
} 

.tex{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
  td{
    text-align: center;
    padding: 10px;
  }
.bt{
  width: 25%;
}
i{
  cursor: pointer;
}